p {
  font-size: 0.85rem;
}

.cursor-pointer{
  cursor: pointer;
}

.border-end-eee {
  border-right: 1px solid #eee;
}

.border-bottom-eee {
  border-bottom: 1px solid #eee;
}

// Components Sytles
.history-list {
  background-color: #f5f8fb;

  .custom-column-size {
    width: 140px;
  }
}

.payroll-detail {
  background-color: #f5f8fb;

  .card-title {
    color: #66799e;
  }
}

.thead {
  background-color: #f5f8fb;

  .cost {
    width: 135px;
  }

  .dropdown-column {
    width: 20px;
  }

  .opt-column {
    width: 30px;
    margin-right: 10px;
  }

  .card-title {
    color: #66799e;
  }
}

.tbody {
  padding-top: .75rem;
  padding-bottom: .75rem;

  .cost {
    width: 135px;
  }

  .dropdown-column {
    width: 20px;
  }

  .opt-column {
    width: 30px;
    margin-right: 10px;
  }

  .user-avatar {
    height: 1.75rem;
    width: 1.75rem;
    min-height: 1.75rem;
    min-width: 1.75rem;
  }
}

.tbody-more-detail {
  border-top: 1px solid #eee;

  .detail-area {
    width: calc(5 * 135px + 20px - 1rem);
  }

  .text-light-gray {
    color: #aaa;
  }

  .payslip{
    margin-left: calc(1.5rem + 40px);
  }
}

.twrapper:not(:first-child) {
  border-top: 1px solid #ddd;
}

.twrapper.opt-out{
  opacity: .5; 
}

.payroll-summary{
  border-top: 1px solid #ddd;
}