.nav-tabs {
  border-bottom: 0.0625rem solid #ddd;

  .nav-link {
    color: #aaa;
    padding: 0.5rem 1.5rem;
  }

  .nav-link.active {
    border-bottom: 1px solid #262B40;
    color: #262B40;
    background-color: transparent;
    font-weight: 600;
  }
}

.input-group.invalid {
  border: 1px solid #FA5252;

  .form-control {
    padding-right: calc(1.5em + 1.1rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23FA5252' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FA5252' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.275rem) center;
    background-size: calc(0.75em + 0.55rem) calc(0.75em + 0.55rem);
  }
}

.form-control.invalid{
  border: 1px solid #FA5252;
  padding-right: calc(1.5em + 1.1rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23FA5252' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FA5252' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.275rem) center;
  background-size: calc(0.75em + 0.55rem) calc(0.75em + 0.55rem);
}